{
  "extends": [
    "airbnb",
    "plugin:testing-library/react",
    "plugin:jest-dom/recommended"
  ],
  "rules": {
    "class-methods-use-this": "off",
    "comma-dangle": "off",
    "max-classes-per-file": "off",
    "max-len": ["warn", {
      "code": 120,
      "ignoreComments": true,
      "ignoreTrailingComments": true,
      "ignoreUrls": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true,
      "ignoreRegExpLiterals": true
    }],
    "no-console": "warn",
    "no-mixed-operators": "off",
    "no-underscore-dangle": "off",
    "no-unused-vars": "warn",
    "no-use-before-define": "warn",
    "object-curly-newline": "off",

    "react/destructuring-assignment": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/prop-types": "off",

    "testing-library/prefer-screen-queries": "error"
  },
  "globals": {
    "document": true,
    "window": true,
    "fetch": true,
    "jest": true,
    "describe": true,
    "expect": true,
    "test": true
  }
}
