.DS_Store
.env
node_modules/*
/client/node_modules/*
/client/src/build/*
server/config/config.env
server/server.*
.endpoint
.secret
.mnemonic
.kovanEndpoint
.rinkebyEndpoint
.mainnetEndpoint
.secretTest
