html {
    margin: 0;
    height: 100%;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 100;
    background-image: linear-gradient(#3736A1, #8283C5);
    background-attachment: fixed;
    color: white;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    color: white;
}

.logo-text {
    color: white;
    vertical-align: middle;
    margin-left: 5px;
    font-weight: 400;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 20px;

    &:hover {
        color: #eee;
        text-decoration: none;
    }
}

#root {
    height: 100%
}

.loginButton .btn {
    margin: 20px 20px 0 0;
}

.jumbotron {
    margin: 0;
    background: none;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

#feeStruct {
    text-align: left;
    padding-left: 3%;
}

.dropDown button {
    width: 100%;
    border-radius: 50px;
    background-color: #f1f2f6;
    color: black;
    border-color: #f1f2f6;
}

.title {
    color: #999595;
    text-align: center;
}

.title2 {
    color: white;
    text-align: center;
}

#subtitle {
    color: grey;
    margin: auto;
}

.curvyButton button {
    border-radius: 50px;
}

.aboutPage {
    padding: 5%;
}

.aboutPage p a img {
    width: 50%;
}

.RPMClass {
    width: 100%;
    height: 600px;
}

.merchant-signup {
    margin-top: 50px;
}

.merchant-signup-box {
    border: 1px solid #3736A1;
    border-radius: 5px;
    margin-top: 30px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.15);

    .col:first-of-type {
        border-right: 1px solid white;
    }

    li {
        text-align: left;
        margin: 20px;
        font-weight: 400;
        font-size: 18px;

        i {
            color: lightblue;
        }
    }

    h4 {
        font-size: 20px;
    }

    .ig-login-btn {
        width: 36%;
        margin: 10px;
    }

    .form-control {
        background-color: transparent;
        margin: 10px auto;

        &::placeholder {
            color: white;
        }
    }

    .contact {
        margin-top: 30px;
    }
}

.countdownTimer {
    text-align: center;

    h1 {
        margin: 60px;
    }

    p {
        display: inline-block;
        border: 3px solid #f1f2f6;
        border-radius: 50%;
        width: 300px;
        height: 300px;
        line-height: 280px;
        font-size: 40px;
        color: #fff;
        text-align: center;
        margin: 10px;
    }
}

.carousel-inner {
    width: 25rem;
    margin: 0 auto;
}

@media (max-width: 990px) {
    .shrinkGone {
        display: none;
    }
}

