html {
    margin: 0;
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(#3736A1, #8283C5);
    background-attachment: fixed;
    color: white;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
    height: 100%
}

.jumbotron {
    margin: 0;
    background: none;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

#feeStruct {
    text-align: left;
    padding-left: 3%;
}

.dropDown button {
    width: 100%;
    border-radius: 50px;
    background-color: #f1f2f6;
    color: black;
    border-color: #f1f2f6;
}

.title {
    color: #999595;
    text-align: center;
}

.title2 {
    color: white;
    text-align: center;
}

#subtitle {
    color: grey;
    margin: auto;
}

.dlButtons {
    margin: auto;
    width: 50%;
    padding: 10px;
    display: block;
}

.dlButtons img {
    width: 100%
}

.dlButtonRow {
    margin: auto;
    width: 50%;
    padding: 10px;
    display: block;
}

.discoverCol {
    margin: 20px;
}

.loginButton button {
    border-radius: 50px;
    margin-right: 10px;
}

.cardJumbo {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.curvyButton button {
    border-radius: 50px;
}

#Caro div div a {
    display: none;
}

#Caro div div ol li {
    background-color: skyblue;
    border-radius: 50%;
    height: 5px;
    width: 5px;
}

.aboutPage {
    padding: 5%;
}

.aboutPage p a img {
    width: 50%;
}

.RPMClass {
    width: 80%;
    height: 600px;
}

@media (max-width: 990px) {
    .shrinkGone {
        display: none;
    }
}
